body {
	background: url(../img/Background2.jpg) no-repeat 50% 50% ;
	background-size: cover;
}
main {
	width: 70%;
	margin: 3rem auto 1.5rem;
	padding: 3rem;
	color: black;
	background-color: white;
	box-sizing: border-box;
}

main h1 {
	font-size: 4rem;
	font-weight: 900;
	outline: yellow;
	font-family: 'Domine', serif;
	font-weight: 700;
}

main h2{
	font-size: 1rem;
	font-weight: 300;
	color:orange;
	font-family: 'Domine', serif;
	font-weight: 150;
}


main p, p1 {
	font-size: 0.75rem;
	font-weight: 300;
	color: gray;
	font-family: 'Domine', serif;
	font-weight: 150;
	text-align: left;
}

footer p {
	text-align: center;

}